<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Error 500</h1>
        <p class="lead">An internal server error occurred.</p>
        <hr class="my-4">
        <p th:text="${message}"></p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a>
    </div>
</div>
</body>
</html>